import Marvin.Run
import Prelude (IO)
{{# adapter-import }}
import {{ adapter-import }}
{{/ adapter-import }}

{{#imports}}
import qualified {{.}}
{{/imports}}

scripts :: [ScriptInit {{ adapter-type }}]
scripts = [ {{scripts}} ]

main :: IO ()
main = runMarvin scripts