import Marvin.Prelude
import Marvin.Adapter.Slack

{{#imports}}
import qualified {{.}}
{{/imports}}

scripts :: [ScriptInit]
scripts = [ {{scripts}} ]

main :: IO ()
main = runMarvin scripts buildAdapter